.below-site-header-outlet.experts-homepage, .below-site-header-outlet.experts-homepage.hidden {
  transition: all .5s ease;
}

.show-experts-homepage {
  #main-outlet {
    padding-top: 82px;
  }
}

.postsContainerFlex {
  display: flex !important;
  flex-flow: row wrap;
  height: auto;
  justify-content: space-around !important;
  margin-top: 40px !important;
  width: 100%;
}

.postContainer {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1), 0 0 1px rgba(0, 0, 0, .1);
  margin-bottom: 30px;
  width: 270px !important;
}

.postShadow {
  box-shadow: 0 0 16px 0 rgba(139, 139, 139, .2) !important;
}

.image-section {
  height: 170px;
}

.teammember_img {
  background-color: #fff;
  border-radius: 100%;
  display: block;
  height: 140px;
  margin: 0 auto;
  position: relative;
  top: 20px;
  width: 140px;
}

.postTitle {
  min-height: 112px;
  padding: 13px 20px 20px;

  a {
    font-size: 18px;
  }
}

.postDate {
  color: #787c7f !important;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 12px !important;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.postInfo {
  border-top: 1px solid #3c3f46;
  height: auto;
  margin: 0 20px;
  overflow: hidden;
  padding: 7px 0 13px;
}

.postAuthor {
  color: #787c7f !important;
  float: left;
  font-size: 13px !important;
  font-weight: 600 !important;
}

.postComments {
  float: right;
}

.experts-homepage-wrapper {
  position: relative;
  top: 68px;

  #experts-homepage-header-image img {
    width: 100%;
  }

  .homepage-spacer {
    min-height: 68px;
  }

  #show-homepage,
  #hide-homepage {
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .25);
    font-size: 14px;
    padding: 10px 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 900;
  }

  .homepage-container {
    margin-bottom: 120px;

    h2 {
      color: #3c3f46;
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 15px;
      text-align: center;
      text-transform: uppercase;
    }

    .container-description {
      color: #3c3f46;
      font-size: 21px;
      line-height: 34px;
      margin: auto auto 30px;
      text-align: center;
      width: 70%;
    }

    .btn {
      border-radius: 2px;
      font-size: 20px;
      padding: 10px 20px;
    }

    .btn-primary {
      background: #15dad4;
      color: #fff;
    }

    #start-discussion {
      margin-right: 50px;
    }

    #search-bar {
      border-radius: 2px;
      font-size: 14px;
      height: 30px;
      padding-left: 15px;
    }

    .get-started {
      margin-bottom: -160px;
      position: relative;
      top: -200px;

      .homepage-title {
        margin-bottom: 30px;

        h2,
        h3 {
          color: #ffffff;
        }

        h3 {
          font-size: 22px;
          padding: 15px 0;
        }
      }
    }

    .engagement-boxes {
      margin-bottom: 40px;

      a {
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .1), 0 0 1px rgba(0, 0, 0, .1);
        color: #3c3f46;
        display: block;
        height: 100%;
        width: 100%;
      }

      a:hover {
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, .25);
      }

      span {
        font-size: 18px;
        font-weight: bold;
      }

      .icon-wrapper {
        height: 70px;
        margin: 0 auto;
        padding: 50px 0 10px;
        width: 70px;
      }

      .box {
        border-radius: 2px;
        height: 200px;
        margin: 10px;
        padding: 0;
        width: 200px;
      }

      .cls-1 {
        stroke: #fff;
      }

      .cls-2 {
        fill: #fff;
        stroke: #fff;
      }
    }

    .help-people {
      padding-bottom: 20px;
      padding-top: 50px;
    }

    .top-buffer {
      margin-top: 60px;
    }

    .background-color {
      background: linear-gradient(90deg, #2aceef, #18ddd8 52.59%, #00fff9);
    }

    .background-color::before {
      background: #fff;
      content: '';
      left: 0;
      position: absolute;
      transform: skewY(-6deg);
      transform-origin: center;
      width: 100%;
      z-index: -1;
    }

    .background-color::after {
      background: #fff;
      content: '';
      left: 0;
      position: absolute;
      transform: skewY(-6deg);
      transform-origin: center;
      width: 100%;
      z-index: -1;
    }

    h2 {
      color: #3c3f46;
    }
  }

  .right {
    float: right;
  }

  .inline {
    display: inline-block;
  }

  .box {
    display: inline-block;
    padding: 20px;
    vertical-align: top;
  }

  .box-2 {
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1), 0 0 1px rgba(0, 0, 0, .1);
    margin: 0 10px;
    width: calc(50% - 63px) !important;
  }

  .box-4 {
    width: calc(25% - 43px);
  }

  .topic-lists {
    padding-bottom: 50px;

    h3 {
      font-size: 24px;
      padding: 6px 20px;
    }

    .box-image {
      border-radius: 2px;
      display: none;
      position: absolute;
      width: 100%;
    }

    .header-wrapper {
      color: #3c3f46;
      padding: 30px 10px 30px 0;
      position: relative;

      .btn {
        font-size: 16px;
        margin-top: 2px;
        padding: 5px 10px;
      }
    }

    .box {
      padding: 0;
      position: relative;
      width: calc(50% - 22px);
    }

    .full-width {
      display: flex;
      justify-content: center;
      margin: 10px 2px;
      width: calc(100% - 46px);
    }

    .views,
    .posts {
      display: none;
    }

    .badge-wrapper {
      .box {
        max-width: 160px;
        width: initial;
      }
    }

    th {
      display: none;
      padding: 0 5px;
      text-transform: uppercase;
    }

    .topic-list-item {
      &:nth-child(odd) {
        background-color: initial;
      }

      .category {
        display: none;
      }

      .posters {
        min-width: 30px;
        width: 30px;

        a {
          display: none;
        }

        a:first-child {
          display: initial;
        }
      }

    }
  }
}

.center {
  text-align: center;
}

#homepage-banner {
  background-color: #3c3f46;
  display: block;
  font-family: Montserrat, Helvetica, Sans-serif;
  font-size: .9em;
  font-weight: 400;
  left: 0;
  line-height: 1rem;
  margin-bottom: 18px;
  top: 0;
  width: 100%;
}

#homepage-banner-inner {
  background-image: url($header-bg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  color: #fff;
  margin: 0 auto;
  width: 100%;
}

#homepage-banner-content {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1126px;
  padding: 3em 4em;
  width: 100%;
}

#homepage-banner-content:before,
#homepage-banner-content:after {
  content: ' ';
  display: table;
}

#homepage-banner-content:after {
  clear: both;
}

#homepage-banner-content-inner {
  background: rgba(0, 0, 0, .75);
  box-sizing: border-box;
  float: left;
  min-width: 620px;
  padding: 1em;
  text-align: left;
  width: 60%;
}

#homepage-banner-content-inner-list {
  padding: 1em;
}


#cover_title {
  color: #fff;
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1.25em;
  margin: .25em 0;
  text-transform: uppercase;
  width: 100%;
}

#cover_subtitle {
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.3em;
  margin: 0 0 .75em;
  padding-right: 1em;
}


#cover_subtitle_whatnext {
  color: #fff;
  font-size: 2em;
  font-weight: 500;
  line-height: 1.25em;
  margin: .25em 0;
  text-transform: uppercase;
  width: 100%;
}

#homepage-banner-content-inner ol {
  font-size: 1em;
  list-style: none;
  margin: 0;
  padding-left: 1.5em;
}

#homepage-banner-content-inner ol li {
  font-size: 1.5em;
  line-height: 1.3em;
  margin: 0;
  padding: 0 0 .25em .25em;
  position: relative;
}

#homepage-banner-content-inner ol li.crossed {
  color: #787c7f;
}

#homepage-banner-content-inner ol li:before {
  color: #3c3f46;
  content: '';
  font-family: FontAwesome;
  left: -1.5em;
  position: absolute;
}

#homepage-banner-content-inner ol li.crossed:before {
  color: #15dad4;
}

#homepage-banner-content-inner ol li a {
  color: #15dad4;
  text-decoration: underline;
  transition: color .25s;
}

#homepage-banner-content-inner ol li.crossed a {
  opacity: .75;
}

#homepage-banner-content-inner ol li.crossed a.alwaysBright {
  opacity: 1;
}

#homepage-banner-content-inner ol li a:hover {
  color: #fff;
  text-decoration: underline;
}

@media screen and (min-width: 1600px) {
  #homepage-banner {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 800px) {
  #homepage-banner-content {
    padding: 3em 2em;
  }

  #homepage-banner-content-inner {
    float: none;
    min-width: 0;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  #homepage-banner-content {
    font-size: .8em;
  }
}
